@font-face {
    font-family: Xarrow;
    src: url("./res/xarrowFont.otf");
}

@keyframes fly-out {
    from {transform: translateY(0)}
    to {transform: translateY(-300px)}
}

@keyframes fly-in {
    from {transform: translateY(-300px)}
    to {transform: translateY(0px)}
}

@keyframes show-pop-up {
    from {top: -100vh}
    to {top: 35vh}
}

@keyframes hide-pop-up {
    from {top: 35vh}
    to {top: -100vh}
}

@keyframes fly-out-side {
    from {transform: translateX(0); }
    to {transform: translateX(-2500px); }
}

@keyframes fly-in-side {
    from {transform: translateX(-2500px); }
    to {transform: translateX(0px); }
}

@keyframes move-gallows {
    from {flex-basis: 100%}
    to {flex-basis: 33.3333334%}
}

@keyframes appear {
    from {opacity: 0}
    to {opacity: 1}
}

h1 {
    font: 4rem Xarrow;
}

h3 {
    font: 3rem Xarrow;
}

button {
    border: none;
    background: none;
    user-select: none;
}

button:focus {
    outline: none;
}

/*helpers*/
.text-center {
    text-align: center;
}

.no-select {
    user-select: none;
}

.btn-wrong {
    color: red;
}

.hide-header {
    animation: fly-out 1s;
    transform: translateY(-300px);
}


.show-header {
    animation: fly-in 1s;
    transform: translateY(0);
}


.pop-up {
    animation: show-pop-up 1s;
    position: absolute;
    top: 35vh;
    width: 99%;
    text-align: center;
}

.pop-up.hide {
    animation: hide-pop-up 1s;
    top: -100vh;
}

.pop-up.show {
    animation: fly-out-side 1s;
    transform: translateX(-2500px);
}


.show-game-content {
    animation: fly-in-side 1s;
    transform: translateX(0);
}

.hide-game-content {
    animation: fly-out-side 1s;
    transform: translateX(-2500px);
}



.btn-primary {
    font: 3rem Xarrow;
}

.btn-primary.play {
    display: block;
    margin: 0 auto;
}



.btn-primary:hover {
    color: green;
    cursor: pointer;
}

.btn-letter {
    font: 5rem Xarrow;
}

.keyboard {
    animation: appear 2s;
}

/*grid*/
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row .col-1 {
    flex-basis: 16.6666667%;
}

.row .col-2 {
    flex-basis: 33.3333334%;
}

.row .col-3 {
    flex-basis: 50.0000001%;
}

.row .col-4 {
    flex-basis: 66.6666668%;
}

.row .col-5 {
    flex-basis: 83.3333335%;
}

.row .col-6 {
    flex-basis: 100%;
}

@media screen and (max-width: 575px){

    @keyframes move-gallows {}

    body {
        margin: 0;
    }
    h1{
        font-size: 2rem;
        word-wrap: break-word;
    }

    .col-3, .col-2 {
        flex-basis: 100% !important;

    }

    .btn-letter {
        font-size: 3rem;
    }

    canvas {
        max-width: 100%;
    }

}